<div class="row">
    <div class="col d-flex">
            {{#each posts as |post|}}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{post.userId}}</h6>
                        <p class="card-text">{{post.content}}</p>
                    </div>
                </div>
            {{/each}}

        <div class="card bg-light m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="input-group mb-3">
                        <input id="titleInput" type="text" class="form-control" placeholder="insert title here"/>
                    </div>
                </h5>
                <p class="card-text">
                    <div class="input-group mb-3">
                        <textarea id="contentInput" class="form-control" placeholder="insert content here"></textarea>
                    </div>
                </p>
                <button class="btn btn-outline-success" type="button" id="createPostBtn">+</button>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/post.js"></script>
